@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  /* background-image: url("./images/pattern-theme-bone-paw.jpg");
  background-repeat: repeat; */
  background-color: #faf5ed;
  font-family: "Open Sans";
  font-size: 14px;
  margin-top: 2.66em;
}

.root {
  width: 80%;
  margin: .2em auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-family: "Roboto";
  background-color: #555453b3;
  color: white;
  text-align: center;
}

.header h1 {
  margin: .444em;
}

.header h1 a {
  text-decoration: none;
  color: inherit;
}

.content {
  background: url("../images/Sad-Dog-1200x900.jpg") no-repeat center 25%/78% #968571;
  position: relative;
  top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  min-height: 110vh;
  margin-bottom: 2.6em;
}

.content h2 {
  font-family: "Roboto";
  text-align: center;
  color: #7a3636;
  margin: 0;
  padding: 0.3em;
}

.content h2#subh {
  top: 12vh;
  z-index: 1;
  height: 4vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.3em;
  -webkit-box-shadow: 0px 0.5px 4px grey;
          box-shadow: 0px 0.5px 4px grey;
}

.content .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 20em;
}

.textdiv {
  background-color: rgba(255, 255, 255, 0.6);
  width: 33%;
  margin: 0.6em;
  padding: 1em;
  -webkit-box-shadow: 0.5px 0.5px 4px grey;
          box-shadow: 0.5px 0.5px 4px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textdiv:hover {
  background-color: white;
  -webkit-box-shadow: 0.5px 0.5px 10px #575757;
          box-shadow: 0.5px 0.5px 10px #575757;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.linkbutton {
  background-color: #7a3636;
  min-width: 12em;
  height: 3em;
  border-radius: 2em;
  -webkit-box-shadow: 0.5px 0.5px 4px grey;
          box-shadow: 0.5px 0.5px 4px grey;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.linkbutton:hover {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: #d66767;
  -webkit-box-shadow: 0.5px 0.5px 10px #575757;
          box-shadow: 0.5px 0.5px 10px #575757;
}

.buttontext {
  color: white;
  text-shadow: 0.5px 0.5px 3px black;
  text-decoration: none;
}

/*******/
.avail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 0;
  padding: .4em 0;
}

.avail div:last-child {
  width: 66%;
  /* border: 1px solid green; */
}

iframe {
  width: 100%;
}

footer {
  text-align: center;
  font-size: large;
  text-shadow: 1px 2px 4px grey;
  width: 75vw;
  background-color: #968571;
  padding: .2em;
}
/*# sourceMappingURL=style.css.map */